[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "loguru>=0.7.3",
    "pdfplumber>=0.11.9",
    "pymupdf>=1.27.1",
]
